<template>
  <div>
      <p>id: {{$route.params.todo.id}}</p>
      <p>title: {{$route.params.todo.title}}</p>
      <p>done: {{ $route.params.todo.done}}</p>
      <md-button class="md-accent back" @click="back">Back</md-button>
  </div>
</template>
<script>
export default {
  name: 'Details',
  methods: {
    back () {
      this.$router.push({ name: 'ListManager' })
    }
  }
}
</script>
<style>
  .back{
    background: #8643D6;
    color: #fff;
  }
</style>
