<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <text-input ref="input"/>
    <md-field md-clearable  >
      <label class="label">Search task</label>
      <md-input v-model="search" class="input" @input="handleSearch"/>
    </md-field>
    <div class="buttons">
      <md-button class="md-raised btnSearch" @click="changeFilter('all')">All</md-button>
      <md-button class="md-raised btnSearch" @click="changeFilter('completed')">Completed</md-button>
      <md-button class="md-raised btnSearch" @click="changeFilter('active')">Active</md-button>
    </div>
    <md-list>
      <md-list-item 
      v-for="(todo, index) in filteredTodos"
      :key="todo.id"
      class="listItem"
      >
      <list-item
      :todo="todo"
      @likedTask = 'likeTask(todo)'
      />
      </md-list-item>
    </md-list>
  </div>
</template>

<script>
import TextInput from './TextInput'
import listItem from './ListItem'
import { mapState } from 'vuex'

export default {
  name: 'ListManager',
  data () {
    return {
      msg: 'Welcome to Your Todo List',
      filteredTodos: [],
      search: '',
      currentFilter: ''
    }
  },
  computed: {
    ...mapState(['todos'])
  },
  watch: {
    currentFilter (currentFilter) {
      if (currentFilter === 'completed') {
        this.filteredTodos = this.todos.filter(todo => todo.done)
      } else if (currentFilter === 'active') {
        this.filteredTodos = this.todos.filter(todo => !todo.done)
      } else {
        this.filteredTodos = this.todos
      }
    }
  },
  components: {
    TextInput,
    listItem
  },
  methods: {
    handleSearch (e) {
      this.filteredTodos = this.todos.filter(
        (todo) => todo.title.toLowerCase().includes(e)
      )
    },
    changeFilter (filter) {
      this.currentFilter = filter
    }
  },
  mounted () {
    this.filteredTodos = this.$store.state.todos
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.btnSearch {
  background: #42b983;
}
.listItem{
  background: #FFF473;
  color: #000;
  margin: 5px;
}

</style>
