<template>
  <div class="hello" :class="{'likedTask': todo.liked}">
    <div v-if="!editList" class="wrapper">
      <div class="wraperT">
        <md-checkbox 
          @change="completeTask"
          class="checkbox"
          :class="{'checkboxDone': todo.done}"
        />
        <p class="todo-title" :class="{'todo-complete': todo.done}">
          {{ todo.title }}
        </p>
      </div>
      <div class="buttons">
        <md-button 
          class="md-accent like" 
          @click.stop="likeTask(todo)"
          >
          Like
          </md-button>
        <md-button 
        class="md-accent change" 
        @click.stop="changeTask(todo)"
        >
        Change
        </md-button>
        <md-button 
        class="md-accent details" 
        @click.stop="detailsTask(todo)"
        >
        Details
        </md-button>
        <md-button 
        class="md-accent delete" 
        @click.stop="delTask(todo)"
        >
        &times;
        </md-button>
      </div>
    </div>
    <div v-if="editList" class="textInput some">
      <md-field md-clearable>
        <label class="label">Change a task here!</label>
        <md-input v-model="newTask" class="input"></md-input>
      </md-field>
      <md-button class="md-raised md-accent btn" @click="updateTitle(todo)">Send</md-button>
  </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  props: ['todo'],
  name: 'ListItem',
  data () {
    return {
      editList: false,
      newTask: ''
    }
  },
  methods: {
    ...mapMutations(['COMPLETE_TASK', 'LIKE_TASK', 'UPDATE_TASK', 'DEL_TASK']),
    delTask (todo) {
      this.DEL_TASK(todo)
    },
    changeTask (todo) {
      this.editList = true
    },
    updateTitle (todo) {
      const newTask = {
        todo,
        newTask: this.newTask
      }
      this.UPDATE_TASK(newTask)
      this.editList = false
    },
    detailsTask (todo) {
      this.$router.push({ name: 'Details', params: { todo, id: todo.id } })
    },
    likeTask (todo) {
      let index = this.todos.indexOf(todo)
      let newTodo = todo
      if (!todo.liked) {
        newTodo.liked = true
      } else {
        newTodo.liked = false
      }
      let newTask = {
        newTodo,
        index
      }
      console.log(todo)
      this.LIKE_TASK(newTask) // mapMutations
    },
    completeTask () {
      debugger
      let index = this.todos.indexOf(this.todo)
      let newTodo = this.todo
      if (this.todo.done === false && (this.todo.liked === false || this.todo.liked === true)) {
        newTodo.done = true
      } else {
        newTodo.done = false
      }
      let newTask = {
        newTodo,
        index
      }
      console.log(this.todo)
      this.COMPLETE_TASK(newTask)
    }

  },
  computed: {
    ...mapState(['todos'])
  }
}
</script>
<style scoped>
.hello {
  width: 70%;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wraperT {
  width: 70%;
  display: flex;
}
.checked {
  margin-top: 5%;
}
.title {
  font-family: Helvetica, Arial;
  color: teal;
  font-weight: bold;
}
.taskItem_ {
  display: flex;
}
.todo-complete {
  text-decoration: line-through;
}
.todo-title {
  margin-left: 10px;
}
.buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.like {
  background: #560ead;
  color: #ffffff;
}
.change {
  background: #20815d;
  color: #ffffff;
}
.details {
  background: #bfb430;
}
.delete {
  background: red;
  color: #ffffff;
}
.checkbox{
  background: red;
  color:#ffffff;
}
.checkboxDone{
  background: #00AC6B;
}
.likedTask{
  background: #60D6A9;
  color: #000;
}
</style>
