<template>
  <div class="textInput some">
    <md-field md-clearable>
      <label class="label">Write a task here!</label>
      <md-input v-model.trim="newTask" class="input"></md-input>
    </md-field>
    <md-button class="md-raised md-accent btn" @click="addTask">Send</md-button>
  </div>
</template>
<script>
import { mapMutations } from 'vuex'

export default {
  name: 'textInput',
  data () {
    return {
      newTask: ''
    }
  },
  methods: {
    ...mapMutations(['ADD_TASK']),
    addTask () {
      const task = this.newTask.toLocaleLowerCase()
      if (task) {
        this.ADD_TASK(task)
      }
      this.newTask = ''
    }
  }
}
</script>
<style>
.some {
  display: flex;
  width: 100%;
}
.btn {
  background: #ff8c00;
  color: #fff;
}
.label {
  color: #a63400;
}
.input {
  border-bottom: 2px solid #a63400 !important;
  color: #a63400;
}
</style>

